.content {
	overflow: scroll;
	flex: 1 1 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url("../image/Start.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	position: relative;
}

.content ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 20px;
	width: 80%;
	margin: auto;
}

.content .list button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: #544f54;
	border: 5px solid var(--main-dark);
	border-radius: 15px;
}

.content img {
	display: block;
	height: 100%;
	width: 80%;
	overflow: hidden;
}

.content p {
	width: 100%;
	text-align: center;
	border-top: 3px solid var(--main-dark);
	padding: 5px 0;
}

.content.blur {
	overflow: hidden;
}

.content.blur .wrap {
	backdrop-filter: blur(7px);
	background-color: var(--shadow-color);
	opacity: 1;
	visibility: visible;
}

.content.blur .menu {
	display: flex;
}

.content .wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.content button.press {
	animation: press 0.2s linear;
}

@keyframes press {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.content .menu {
	font-size: 1.5rem;
	border: 4px solid var(--main-dark);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 400px;
	border-radius: 20px;
	padding: 20px 50px;
	background-color: var(--header-bgc);
	row-gap: 20px;
	box-shadow: 8px 8px 0px 0px var(--main-dark);
}

.content .menu button {
	border: 4px solid var(--main-dark);
	background-color: var(--main-dark);
	border-radius: 40px;
	padding: 5px 15px;
	color: var(--main-light);
	cursor: pointer;
	transition: all 0.3s ease;
}

.content .menu button:hover {
	color: var(--main-dark);
	background-color: var(--header-text);
}
