.footer {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	color: var(--main-dark);
	background-color: var(--header-bgc);
}

.footer .attribution {
	font-size: 1px;
	font-weight: lighter;
}

.footer svg {
	width: 20px;
	margin-left: 5px;
	vertical-align: bottom;
}
