@import url("./header.css");
@import url("./content.css");
@import url("./footer.css");

/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Noto Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
	--main-dark: #000;
	--main-light: #fff;
	--header-bgc: #c39c93;
	--header-text: #6393dc;
	--shadow-color: rgba(0, 0, 0, 0.4);
}

* {
	box-sizing: border-box;
	font-family: "EB Garamond", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

[hidden] {
	display: none !important;
}

a {
	text-decoration: none;
	color: var(--main-dark);
}

p,
h1,
h2,
h3,
h4 {
	margin: 0;
	white-space: pre-line;
}

button {
	border: 0;
	outline: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
	white-space: pre-line;
	list-style: none;
}

body {
	overflow: hidden;
	height: 100vh;
}

#root {
	height: 100%;
}

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.app.blur .content {
	overflow: hidden;
}

.app.blur > .wrap {
	backdrop-filter: blur(7px);
	background-color: var(--shadow-color);
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.app .info {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2rem;
	border: 4px solid var(--main-dark);
	display: none;
	flex-direction: column;

	justify-content: center;
	border-radius: 20px;
	padding: 20px 50px;
	background-color: var(--header-bgc);
	row-gap: 20px;
	box-shadow: 8px 8px 0px 0px var(--main-dark);
	white-space: pre;
}

.app .info h2 {
	text-align: center;
}

.app .info li {
	margin: 0;
	list-style-type: decimal;
}

.app.blur .info {
	display: flex;
	z-index: 1;
}

.info button {
	margin: 0 auto;
	width: 50%;
	border: 4px solid var(--main-dark);
	background-color: var(--main-dark);
	border-radius: 40px;
	padding: 5px 15px;
	color: var(--main-light);
	cursor: pointer;
	transition: all 0.3s ease;
}

.info button:hover {
	color: var(--main-dark);
	background-color: var(--header-text);
}

.info button.press {
	animation: press 0.2s linear;
}

@keyframes press {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
